$theme-colors: (
    "dark": #221b50,
    "light": rgb(220, 220, 229),
    "date": #dbdbff,
    "gig": #5fc95f,
    "enquiry": #d5d556,
    "available": #d96a5e,
    "rehearsal": #3098ea,
    "events": #d1d7ff,
    "calendar": #eaf3fc,
);

$body-bg: #dbdbff;

@import "~bootstrap/scss/bootstrap";
@import "tabulator-tables";

.seven-cols {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
}

.btn-white {
    background-color: #fdfdfd;
}

.btn-round {
    aspect-ratio: 3 / 1;
    border-radius: 50%;
}

.calendar-day {
    font-size: 0.8rem;
}

.selected-day {
    background-color: #a2b8c7;
}

.btn-icon:hover {
    cursor: pointer;
    border: 1px solid #888;
    border-radius: 2px;
    margin: -1px;
}

.btn-icon:active {
    cursor: pointer;
    border: 2px inset;
    border-radius: 2px;
    margin: -2px;
}
