$theme-colors: (
    "dark": #221b50,
    "light": #dbdbff,
    "date": #9797da,
);

$body-bg: #d6d6ff;

@import "~bootstrap/scss/bootstrap";

.seven-cols {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
}

.btn-round {
    aspect-ratio: 3 / 1;
    border-radius: 50%;
}
